* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}
/* generali */

a img {
    width: 50px;
}

p {
    color: #707070;
    font-size: 18px;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
footer, section {
    padding: 20px;
}

header {
    padding: 0 5px;
}
ul {
    list-style-type: none;
}
.logo img {
    height: 120px;
}

h2 {
    font-weight: 300;
    color: #4c4a9b;
    font-size: 50px;
    padding: 50px 0 10px 0;
}

h2 + p {
    color: #707070;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 15px;
    opacity: 0.6;

}
h3 {
    font-weight: normal;
    font-size: 33px;
    opacity: 0.8;
}
h4 {
    opacity: 0.8;

    color: #4c4a9b;
    font-size: 25px;
    margin: 15px 0;
}

.menu-item {
    float: right;
}

nav {
    display: none;
}

.hamburger {
    display: block;
}

.hamburger .active {
    padding: 0 30px;
    height: 100px;
    line-height: 160px;
    display: block;
}

.hide {
    display: none;
}

nav.active {
    display: block;
}

header ul li {
    float: left;
    padding: 5px 30px;
}

header li img {
    margin-bottom: 10px;
}
nav li {
    cursor: pointer;
}

header li:hover img {
    object-position: 0 -32px;
}
header li p {
    margin-bottom: 15px;
}
header li:hover p {
    color: white;

}
header li:hover {
    background-color: #fe6601;
}

/* hover */
header li.active {
    background-color: #fe6601;
}
header li.active p {
    color: white;
}

header li.active img {
    object-position: 0 -32px;
}

header p {
    color: #4c4a9b;

}



.nav-img {
    height: 32px;
    margin-top: 32px;
    overflow: hidden;
    margin-bottom: 16px;
}

/* inizio section */
#jumbo {
    background-image: url('images/slider_slide3_background.png');
    height: 600px;
}
#jumbo .container {
    position: relative;
}

.right-cont, .left-cont {
    position: relative;
}

.left-cont {
    padding: 130px 0 400px 0;
 }
.right-cont {
    padding: 240px 0;
 }


.right-cont img {
    display: none;
}

.left-cont img {
    position: absolute;
    bottom: 50px;
    right: 40px;

}
.cursive {
    font-family: 'Handlee', cursive;
    font-size: 38px;
    color: #d7ac95;
    opacity: 0.2;
}
.minibut {
    display: inline-block;
    width: 40px;
    height: 12px;
    border: 2px solid #fe6601;
    margin: 0 5px;
}

.minibut.bwhite {
    border: 2px solid white;
    background-color: transparent;
}

.minibut.last {
    position: relative;
    bottom: 12px;
}

.jumbutton {
    position: absolute;
    bottom: 20px;
}


.banner {
    padding: 0 5px;
    background-image: url('images/pattern.png');
}
.banner h3 {
    font-weight: 300;
    color: white;
    font-size: 25px;
    padding: 50px 0;
}
.right-learn {
    padding: 50px 0;

}
.btn-white {
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    padding: 10px 15px;
    border: 1px solid white;
    background-color: transparent;
    outline: none;
    font-size: 12px;
}
.btn-white:hover {
    background-color: white;
    color: #4c4a9b;
}

.fas {
    margin-left: 10px;
    font-size: 10px;
}


#welcome-to {
    padding-bottom: 50px;
}
#welcome-to .main-welcome {
    padding-bottom: 20px;
}

#welcome-to .round-card {
    padding: 12px;
}

.img-welcome {
    border-radius: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    background-color: #fe6601;
}

.img-welcome.dark {
    background-color: #4c4a9b;
}

#overview {
    background-color: #e8e6e7;
    padding-top: 75px;
    padding-bottom: 50px;
}

section a {
    width: 140px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
    height: 60px;
    background-color: #fe6601;
}
#overview .cta a:hover {
    background-color: #fe6601;
    color: white;
}
.btn-opac {
    margin-left: 10px;
    background-color: transparent;
    border-bottom: 1px solid lightgrey;
    color: #707070;
}
#overview h3 {
    margin-top: 50px;
    color: #4c4a9b;
    font-size: 35px;
    font-weight: 400;
}

.icon-overview {
    border-radius: 50%;
    margin-bottom: 6px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: #fe6601;
}

.icon-overview.alternate {
    background-color: transparent;
    border: 1px solid #fe6601;
}
.img-overview {
    padding: 0 5px;

}
.main-img-overview img {
    width: 100%;
    height: 365px;
    object-fit: cover;
}
.main-img-overview {
    padding: 0 4px;
    width: 100%;
}
.slider-buttons {
    padding: 0 4px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slider-buttons img {
    width: 100%;
    height: auto;
}
.arrow-down {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fe6601;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.arrow-down.opac {
    border-top: 10px solid  transparent;
}
.btn-opac:hover .arrow-down.opac {
    border-top: 10px solid #fe6601;
    color: white;
}

#overview h4 {
    margin-top: 0;
}
#overview .slider-buttons a {
    width: 60px;
    margin: 0;
}
.img-overview img {
    padding: 8px 0;
    width: 100%;
}
.img-overview.active img {
    border-bottom: 3px solid #fe6601;
}
.relative {
    position: relative;
}


#our-numbers {
    padding-top: 80px;
    padding-bottom: 40px;
    color: white;
    background-image: url(images/parallax_01.jpg);
    background-position-Y: center;
    background-size: cover;
}

.number-cont {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 180px;
    height: 180px;
    border: 1px solid white;
    border-radius: 50%;
    margin-bottom: 30px;
}

#our-numbers h4 {
    color: white;
}

.number-cont span {
    font-weight: 100;
    font-size: 50px;
}
#our-numbers p {
    color: white;
    margin: 20px 40px;
}

#our-numbers .relative {
    top: 40px;
}
.big-para {
    margin-bottom: 35px;
    font-size: 33px;
    color: #554e9e;
    padding-right: 10px;
}
.small-para {
    line-height: 1.6;
    padding-bottom: 30px;
    padding-right: 20px;
    color: grey;
    font-size: 19px;
}

.card-dark {
    padding-right: 30px;
    margin-bottom: 30px;
    color: white;
}
.card-dark h4, .card-dark p {
    opacity: 0.8;
    color: white;
}

.card-dark h4+ p {
    padding-top: 8px;
    padding-bottom: 60px;
}

.title-class {
    padding-bottom: 30px;
}

.separation {
    border-left: 1px solid rgba(255,255,255,0.7);
}

.img-class img {
    width: 100%;
    display: inherit;
    height: 190px;
    object-fit: cover;
}

#our-classes a {
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    bottom: 0px;
    right: 0;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
}

#our-classes h4 {
    font-size: 20px;
    opacity: 0.9;
    margin: 0;
}

#our-classes h5 {
    opacity: 0.7;
}
.class-title {
    padding-bottom: 80px;
}
.padding20 {
    padding: 20px;
}

#education {
    background-color: #e8e6e7;
    padding: 80px 5px;
}

.back-card {
    display: inherit;
    height: 190px;
    background-color: #554e9e;
    padding: 20px;
}
.edu-logo {
    line-height: 60px;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
}
#education h4 {
    margin: 14px 0;
}

#education .small-para p {
    line-height: 1.5;
}

.edu-list {
    padding-bottom: 10px;

}

.edu-list p {
    font-size: 18px;
    padding-left: 5px;
    display: inline;
}

#gallery {
    padding: 0;
}
#gallery>div>img {
    width: 100%;
    height: 350px;
    object-fit: cover;

}

.photos:hover {
    background-color: #e8e6e7;

}

.photos:hover .plus {
    opacity: 5;
}

#gallery>div:hover .plus{
    opacity: 5;

}

.photos>li> img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.plus {
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 0;
    width: 120px;
    height: 120px;
    background-color: rgba(85,78,158,0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.photos:hover .plus {
    opacity: 5;
}
#meet ul {
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.breaks img {
    width: auto;
    margin-bottom: 80px;
}
#meet a {
    border-right: 1px solid white;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.social-btn {
    padding-left: 20px;
}

.know-card {
    margin-bottom: 25px;
}
.photos h4 {
    font-size: 20px;
}
.photos p {
    margin-bottom: 10px;
    padding-bottom: 0px;
}
.photos:hover p {
    margin-bottom: 0px;
    padding-bottom: 10px;

}


.quote {
    display: none;
}
#meet .quote img {
    width: 32px;
    height: 32px;
}
#kinder {
    padding: 80px 0;
    color: white;
    background-image: url('images/parallax_02.jpg');
    background-position-Y: center;
}
.logo-kinder {
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border: 1px solid white;
    border-radius: 50%;
}
#kinder h3 {
    margin: 20px 0;
    font-weight: 100;
    font-size: 40px;
}
#kinder hr {
    width: 49px;
    display: inline-block;
    margin: 20px 0;
}

#kinder p {
    color: white;
    padding: 0 0 30px 0;
}

.new-card {
    padding-right: 20px;
    margin-bottom: 28px;
}

.new-card a {
    font-size: 20px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    position: relative;
    left: 100%;
    transform: translate(-100%, -100%);
}
.new-card-img {
    height: 205px;
}
.new-card-img>img {
    width: 100%;
    display: block;
    height: 200px;
    object-fit: cover;
}
.new-card-img:hover .plus {
    opacity: 0.8;
}

.end-new {
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e6e7;
}

.new-card div p {
    opacity: 0.7;
    display: inline-block;
}
.low-new {
    padding-top: 30px;
    padding-bottom: 60px;
}
.low-new a{
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.low-card {
    padding: 15px 0;
}
#map {
    padding: 0;
}

#map img {
    width: 100%;
    min-height: 300px;
    object-fit: cover;
}

#contact h4 {
    color: #4c4a9b;
}
#contact .edu-logo {
    padding: 10px;
    height: 50px;
}

p.active {
    text-decoration: underline;
    color: #4c4a9b;
}

#contact input, textarea {
    margin: auto;
    padding: 12px;
    border: 1px solid rgba(232, 230, 231, 0.7);
    resize: none;
}
.input-left img {
    position: absolute;
    right: 25px;
    top: 28px;
}
.input-left {
    padding: 15px 15px 15px 0;
}
.area textarea {
    width: calc(100% - 15px);
    padding: 15px;
    height: 187px;}
#contact a {
    min-width: 120px;
}
#contact p {
    line-height: 1.5;
}
.low-cont {
    padding-top: 0;
    padding-bottom: 70px;
}
footer {
    color: white;
}

footer a {
    padding: 7px;
    opacity: 0.5;
}

footer img {
    height: 80px;}

footer p {
    font-size: 16px;
    opacity: 0.5;
    color: white;
    margin-bottom: 15px;
}
footer hr {
    opacity: 0.5;
    width: 55px;
    margin-bottom: 30px;
}
footer h4 {
    color: white;

    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 50px;
}

footer h5 {
    opacity: 0.8;
    font-size: 16px;
    line-height: 2;
    margin-bottom: 10px;
}
footer .tables {
    text-transform: uppercase;
    padding: 15px;
    border: 1px solid rgba(232, 230, 231, 0.3);
    margin-bottom: 5px;
    font-size: 14px;
}

.tables a {
    opacity: 0.9;
}
.check {
    width: 20px;
    height: 20px;
}
.foot-img img {
    object-fit: cover;
    height: 90px;
    width: 90px;
}

.recent-cont {
    margin-bottom: 10px;
}

.feat {
    display: flex;
    align-items: center;
}

footer h5 + img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
footer span {
    font-size: 14px;
    opacity: 0.5;
}

.foot-btn a {
    margin: 30px 0;
    display: inline-block;
    width: 50px;
    height: 50px;
    color: white;
    opacity: 1;
    line-height: 40px;
    background-color: #fe6601;
    border-right: 1px solid white;
}

.theend {
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

section a:hover {
    background-color: #4c4a9b;
}

section a:hover .arrow-down {
    border-top: 10px solid #fe6601;

}

#upper-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #cac2c2;
}

@media screen and (min-width: 475px) {

    .quote {
        display: inline-block;
        z-index: 1;
        margin: auto;
        width: 119px;
        border: 2px solid #fe6601;
        position: absolute;
        top: 30px;
        left: 90%;
        padding: 8px;

    }

}


@media screen and (min-width: 780px) {
    .input-right {
        padding: 15px 0 15px 15px;
    }

    nav {
        display: block;
    }

    .hamburger {
        display: none;
    }


    .banner h3 {
        font-size: 30px;
    }
}
@media screen and (min-width: 1170px) {

    .right-cont img {
        display: block;
        position: absolute;
        top: 100%;
        left: 100%;
        transform: translateY(-60%);

    }

}
