* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
}
.logo img {
    height: 120px;
}

header li img {
    margin-bottom: 10px;
}

header li:hover img {
    object-position: 0 -33px;
}
header li p {
    margin-bottom: 15px;
}

header li:hover {
    background-color: #fe6601;
}

.nav-img {
    height: 33px;
    margin-top: 32px;
    overflow: hidden;
    margin-bottom: 16px;
}

#jumbo .container {
    position: relative;
    height: 600px;
}

.welcome-slider {
    background-image: url('images/slider_slide3_background.png');
    height: 600px;
}
.right-cont, .left-cont {
    position: relative;
    height: 600px;
}

.right-cont img {
    position: absolute;
    bottom: 50px;
    left: calc(50%);
    transform: translate(50%);
}

.left-cont img {
    position: absolute;
    bottom: 50px;
    right: 40px;

}
.cursive {
    font-family: 'Handlee', cursive;
    font-size: 38px;
    margin-top: 160px;
    color: #d7ac95;
    opacity: 0.2;
}
.minibut {
    display: inline-block;
    width: 40px;
    height: 12px;
    border: 2px solid #fe6601;
    margin: 0 5px;
}
.minibut.last {
    position: relative;
    bottom: 12px;
}
.jumbutton {
    position: relative;
    bottom: 40px;
}

#learn-more {
    height: 130px;
    background-image: url('images/pattern.png');
}
#learn-more h2 {
    padding: 30px 0;
    color: white;
    font-size: 30px;
}
.right-learn {
    padding: 30px 0;
}
.btn-white {
    text-transform: uppercase;
    color: white;
    padding: 10px;
    border: 1px solid white;
    background-color: transparent;
    outline: none;
}
